<div class="user-list-container">
  <div class="search-container">
    <mat-form-field appearance="outline">
      <mat-label>Search users</mat-label>
      <input
        matInput
        [(ngModel)]="searchTerm"
        (input)="filterUsers()"
        placeholder="Type to search..."
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="users-grid">
    <app-user-card
      *ngFor="let user of filteredUsers"
      [user]="user"
    ></app-user-card>
  </div>
</div>
